*{
    font-family: "Montserrat", sans-serif;
    margin: 0;
}

h1{
    font-family: "Abril Fatface", serif;
    color: #d05270;
    font-weight: normal;
}

nav{
    height: 10em;
    padding-left: 10em;
    padding-right: 10em;
    display: flex;
    margin-bottom: 5em;
}

.menu {
    display: flex;
    padding:0;
}

.menu li {
    list-style-type: none ;
    display: flex;
    flex-direction: row;
}

.menu a {
    justify-content: flex-end;
    display:flex;
    min-width: 120px;
    align-items: center;
    text-decoration: none;
    color: color(srgb 0.7494 0.7495 0.7496);
}

.boxmenu{
    height: 10em;
    width: 100%;
    display: flex;
    justify-items: center;
    justify-content: end;
}

div{
    text-align: center;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
    text-align: justify;
}
