*{
    font-family: "Montserrat", sans-serif;
    margin: 0;
}

h1{
    font-family: "Abril Fatface", serif;
    color: #d05270;
    font-weight: normal;
    margin: 0;
    font-size: 2.5em;
}

h2{
    font-family: "Montserrat", sans-serif;
    color: #4a4a4a;
    font-weight: normal;
    margin: 0;
    font-weight: 500;
}

nav{
    height: 10%;
    display: flex;
    margin-bottom: 5%;
    align-items: center;
}

.menu {
    display: flex;
    padding:0;
}

.menu li {
    list-style-type: none ;
    display: flex;
    flex-direction: row;
}

.menu a {
    justify-content: flex-end;
    display: flex;
    width: auto;
    align-items: center;
    text-decoration: none;
    color: color(srgb 0.7494 0.7495 0.7496);
    margin-left: 20px;
}

.menu a:hover{
    color: #5A47AB;
}

.menu li.active a {
    color: #5A47AB;
}

.boxmenu{
    height: 10em;
    width: 100%;
    display: flex;
    justify-items: center;
    justify-content: end;
}

section{
    width: 75%;
    margin-right: auto;
    margin-left: auto;
    text-align: justify;
    margin-bottom: 5%;
}

.social{
    width: auto;
    height: 20px;
    display: inline-block;
    padding: 15px;
    font-style: initial;
    color: white;
}

.illust-accueil{
    display: flex;
    justify-content: end;
    justify-items: center;
    float: right;
    width: 50%;
    height: 10em;
    background-image: url(images/illustration.png);
    background-repeat: no-repeat;
    justify-content: center;
    margin-left: 1%;
}

.articles{
    width: 49%;
    display: inline-block;
    justify-content: start;
}

.nom-articles{
    font-size: 1.2em;
    color: #d05270;
    margin-bottom: 0.3em;
}

.image-articles{
    background-size: cover;
    background-position: center;
    height: 293px;
    width: 100%;
    margin-bottom: 1em;
}

.en-savoir-plus{
    color: #d05270;
}

.en-savoir-plus-hr{
    margin-top: 5px;
    background-color: #d05270;
    height: 1px;
    width: 20%;
}

p{
    color: #4a4a4a;
}

.date{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.5em;
    margin-bottom: 1em;
}

.desc{
    font-weight: lighter;
    font-size: 0.9em;
    margin-bottom: 1em;
}